@font-face {
    font-family: 'DMSans';
    src: url('/yara/TaskSystem/assets/fonts/DMSans_36pt-Thin.ttf') format('truetype');
    font-weight: 400; /* Thin weight */
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url('/yara/TaskSystem/assets/fonts/DMSans_36pt-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url('/yara/TaskSystem/assets/fonts/DMSans_36pt-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

body {
    font-family: 'DMSans', sans-serif;
}