*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family:'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}


body{
    display: flex;
    background-color: #5463FF;
}

header {
    grid-area: headerArea;

}

aside {
    grid-area: asideArea;
    background-color:  #ffffff;
}

main {
    grid-area: mainArea;
}

.gridWrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 250px auto  ;
    grid-template-rows: 100px auto ;
    grid-template-areas: 
    'asideArea   headerArea headerArea'
    'asideArea    mainArea mainArea'
    /*'asideArea   mainArea mainArea mainArea'
    'asideArea   mainArea mainArea mainArea'*/;
}

img, video {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

/* General Positioning */
.dashMainSection {
    margin-left: 40px;
}

.head {
    margin-left: 40px;
}

/* index/dashboard style*/
/* header */
header {
    height: 100px;
}
.head {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.right, .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.right {
    margin-right: 3%;
}

.logo span {
    color: #FFC300;
    font-size: 48px;
    font-weight: bold;
}

.searchBtn {
    background-color: transparent;
    width: 40px;
    height: 100%;
}


.searchForm {
    margin-left: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 40px;
}

.searchField {
    width: 400px;
    height: 100%;
    padding-left: 1rem;
    border-radius: 20px;
    font-size: 1rem;
}

.userIcon {
    margin-left: 50px;
}

.userBtn, .bellBtn {
    background-color: transparent;
    color: #FFC300 !important;
    height: 50px;
}

.userBtn, .bellBtn {
    font-size: 24px;
}

/* aside */

 .asideWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    flex: 1;
 }

 .asideNav {
    width: 90%;
 }

 .menuHome {
    margin-bottom: 70px;
    margin-top: 30px;
 }

 .menuHome a {
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: all 0.3s;
 }

 .asideNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
 }

 .asideNav ul li {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
 }
 
 .asideNav ul li a {
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s;
    color: black;
    width: 100%;
    height: 100%;
    text-align:  center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: transparent;
 }

 .asideNav ul li a.active {
    background-color: #5463FF;
    color: #FFC300;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3)
 }

 .logout {
     margin-top: auto;
     margin-bottom: 30px;
 }

 .logoutBtn {
    font-size: 24px;
 }

 /* login and signUp */

.wraplogin{
    height: 100vh;
}
.formWrapper {
    position: absolute;
    display: flex;
    width: 500px;
    height: 550px;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    background-color: white;
}

.formWrapper .logo {
    margin-top: 1.25rem;
}
.formWrapper .logo span {
    color: #5463FF;
}

.signUpLoginBtnWrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 15px;
}

.loginBtnWrapper, .signUpBtnWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.loginBtnWrapper {
    border-radius: 10px;
    background-color: #5463FF;
}

.signUpBtn, .loginBtn{
    font-size: 2rem;
    background-color:  transparent;
    width: 100%;
    padding: 5px 0px;
}

.signUpBtn a, .loginBtn a{
    text-decoration: none;
}

.loginBtn a {
    color: #FFC300;
}

.loginBtn {
    color: black;
}

.formWrapper form {
    width: 90%;
}
.formInput {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    margin-top: 1.2rem;

}

.inputl {
    border-radius: 10px;
    font-size: 1.25rem;
    border: 1px solid black;
    height: 2.3rem;
    margin-top:2px;
    padding-left: 10px;
}

.submitBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btnform {
    color: #FF1818;
    background-color:#FFC300;
    font-size: 1.3rem;
    padding: 13px 40px 13px 40px;
    border-radius: 20px;
}

/* DashBoard or Index.php */
.dashMainSection {
    margin-right: 3%;
}

.dashMainTopWrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    height: 90%;
}

.dashRightWrapper {
    width: 49.5%;
}

.dashLeftWrapper {
    width: 49.5%;
    height: inherit;
    display: flex;
    align-items: center;
}

.dashTaskWrapper {
    display: flex;
    flex-direction: column;
    width:95%;
    height: 50rem;
    background-color: white;
    border-radius: 20px;
    font-size: 1.25rem;
}

.labelTaskGraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.taskGraphWrapper {
    width: 85%;
    height: 25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.dashTaskWrapper span {
    margin-left: 20px;
}

.labelTaskGraph span {
    margin-left: 0px;
}

.dashTaskWrapper span:first-child {
   margin-top: 1rem;
}

.dashLeftBottomWrapper{
    display: flex;
    flex-direction: row;
}

.dashDeadlines, .dashRecent {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.dashAct, .dashDead {
    width: 80%;
    height: 250px;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dashActChild, .dashDeadChild{
    width: 95%;
    height: 68px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dashActChild *, .dashDeadChild *{
    font-size: 15px;
    font-weight: 400;
    margin-top: 0px !important;
}

.DeadTop {
    display: flex;
}

.DeadTop {
    margin-left: 20px;
    margin-right: 20px;
}
.DeadTop * {
   width: 50%;
   margin: 0px !important;
   word-wrap: break-word;
}

/* right */

.dashRightWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashTopRightWrapper{
    height: 100%;
    background-color: #ECECEC;
    border-radius: 20px;
}

.dashMainSection {
    margin-right: 3%;
}

.dashPieGraph {
    margin-top: 0.8rem;
}

.dashBarGraph {
    margin-top: 10rem;
}
.dashPieGraph span {
    margin-left: 0.8rem;
}

.dashBarGraph {
    margin-left: 0.8rem;
}

.dashBottomRightWrapper{
    height: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    row-gap: 6rem;
    margin-bottom: 50px;
    margin-top: 50px;
}

.dashLeaderboard {
    margin-top: 0.5rem;
    margin-left: 0.8rem;
    height: 550px;

}

.leaderboardWrapper {
    width: 98%;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 0.5rem;
}

.userWrapper {
    margin: auto;
    margin-top: 1.25rem;
    width: 95%;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.userInfo {
    width: 125px;
    text-align: center;
}

/* TASK page */
.taskMainSection {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}


.tasks {
    display: flex;
    flex-direction: column;
}
.categoryTask {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    flex: 1 1 auto;
    min-width: 260px;
    max-width: 320px;
}

.tasks span {
    align-self: center;
    font-size: 1.5rem;
    margin-top: 15px;
}

.taskHolder {
    border: 1px solid black;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.taskHolder .btnFormR{
    margin-left: auto;
    margin-right: 15px;
    margin-top: 0px;
}
.taskHolder:hover {
    border-color: #5463FF;
}

.taskHolder:active {
    border-color: #FF1818;
}

.taskHolder label {
    font-size: 1.25rem;
}
.addCategoryBtn, .addTaskBtn {
    background-color: #FFC300;
    padding: 10px 25px;
    border-radius: 20px;
}

.addCategoryBtn {
    width: 200px;
}

.addTaskWrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.addTaskBtn {
    font-size: 1rem;
}

.addTaskBtn a {
    text-decoration: none;
    color: #FF1818;
}

.addCategoryBtn a{
    color:#FF1818;
    text-decoration: none;
    font-size: 1rem;
}



.addCategory {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 5rem;
    row-gap: 5rem;
    column-gap: 5rem;
}


/* add Category */

.categoryModal, .viewTaskModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.viewTaskModal {
    width: 600px;
    height: 700px;
}

.modalWrapper, .viewModal {
    position: absolute;
    display: none;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:  rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.viewMOdal {
    display: block;
}

.viewModal {
    z-index: 2;
}
.categoryModal .logo, .viewTaskModal .logo{
    display: flex;
    flex-direction: row;
}

.formModal {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
}

.close,.close1 {
    float: right;
    color: black;
    font-size: 1.8rem;
    margin-left: auto;
    margin-right: 15px;
}

.close:hover,
.close:focus {
  color: #5463FF;
  text-decoration: none;
  cursor: pointer;
}

.close1:hover,
.close1:focus {
  color: #5463FF;
  text-decoration: none;
  cursor: pointer;
}

.categoryModal .logo span, .viewTaskModal .logo span {
    color: #5463FF;
}

.addCategoryBtn {
    color: #FF1818;
}

.viewTaskModal p {
    border: 1px solid black;
    padding-left: 10px;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dueDateWrap, .taskTitleWrap, .descriptionWrap {
    width: 90%;
}

.descriptionWrap p{
    height: 250px;
}

.viewTaskModal .btnFormR {
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
}
/* add Task */

.taskDescription, .taskTitle, .taskDueDate {
    display: flex;
    flex-direction: column;
}

.addTaskForm label {
   margin-bottom: 5px;
}

 .btnFormR, .btnFormRR {
    color: #FF1818;
    background-color: #FFC300;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 10px; 
}

.field {
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px 0px;
    padding: 10px 10px;
    font-size: 1rem;
}

.formBtnWrapper {
    display: flex;
    justify-content: center;
}

.taskHolder .btnFormRR {
    margin-top: 0px;
}

.taskHolder .btnFormRR  a{
    text-decoration: none;
    color: #FF1818;
    font-size: 1rem;
    text-align: start;
}

/* setting */
.settingWrapper {
    background-color: white;
    width: 80%;
    height: 700px;
    margin: auto;
    margin-top: 20px;
}

.settingdiv2 {
    display: flex;
    width: 60%;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
    font-size: 1.25rem;
    margin-left: 20px;
}
.settingdiv1 {
    display: flex;
    flex-direction: row;
    width: 40%;
    gap: 40px;
    font-size: 1.25rem;
    margin-left: 20px;
    margin-bottom: 40px;
    width: 50%;
}

.settingdiv2 div{
    padding-right: 20px;
}

.settingdiv1 div{
    padding-right: 40px;
}

.settingRight {
    border-right: 2px solid black;
}

.settingdiv3 {
    margin-left: 20px;
    margin-top: 60px;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.settingdiv1Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}

.settingdiv1Wrapper button {
    padding: 4px 17px; 
    margin: 0px;
    height: 50px;

}

.profileModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 810px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profileModal input {
    margin-bottom: 10px;
}

.profileModal .logo span {
    color: #5463FF;
}

.profileImg {
    width: 120px;
    height: 120px;
    align-self: center;
}

.inputImg {
    align-self: center;
}

.labelProfile {
  background-color: indigo;
  color: white;
  padding: 0.7rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 20%;
}

.imgChooseWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.spanProfile {
    align-self: center;
    justify-self: center;
    margin-left: 10px;
}